<div class="modal fade" id="noGyms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header text-center d-block">
        <p class="modal-title" id="exampleModalLabel">There are currently no {{concentration}} gyms in the database. Be the first to add one!</p>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-primary noGymsClose" data-toggle="modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
