@import '~bootstrap/scss/bootstrap';

#update-gym {
  display: none;
}

.header {
  width: 65%;
}

/* If the screen size is 601px wide or more, set the font-size of .summary to 16px */
@media screen and (min-width: 1000px) {
  .summary {
    font-size: 16px;
  }
  .btn-responsive {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .summary {
    font-size: 14px;
  }
  .btn-responsive {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) and (max-width: 799px){
  .summary {
    font-size: 10px;
  }
  .btn-responsive {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  .summary {
    font-size: 8px;
  }
  .btn-responsive {
    font-size: 11px;
  }
}

@media screen and (max-width: 399px) {
  .summary {
    font-size: 6px;
  }
  .btn-responsive {
    font-size: 10px;
  }
}

// .summary {
//   font-size: calc(4px + 0.75vw);
// }

.filters {
  display: none;
}

body {
  background-color: black;
}

.message {
  color: white;
}

#logout {
  display: none;
}

.changepw {
  display: none;
}

.create-gym {
  display: none;
}

.modal-header {
    border-bottom: 0 none;
}

.jumbotron {
  background-color: black;
  color: white;
}

.fas, .user-button {
  display: none;
}

.navbar{
  background-color: black !important;
}

.card-subtitle {
  font-size: 0.95em;
}

.card-text {
  font-size: 1em;
}

.hours {
  color: #bab8b6;
}

.form {
  margin: 0 auto;
}

.linebreak {
  white-space: pre-wrap;
}
