@import '~bootstrap/scss/bootstrap';

#update-gym {
  display: none;
}

body {
  background-color: black;
}

.message {
  color: white;
}

#logout {
  display: none;
}

.changepw {
  display: none;
}

.create-gym {
  display: none;
}

.modal-header {
    border-bottom: 0 none;
}

.jumbotron {
  background-color: #292b2c;
  color: white;
}

// .modal-backdrop {
//    background-color: black;
// }
// .overlay {
//   display: none;
//   position: fixed; /* Positioning and size */
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: black; /* color */
// }

// .gyms-list {
//   margin-left: 20rem;
//   margin-right: 20rem;
// }
