@import '~bootstrap/scss/bootstrap';

#update-gym {
  display: none;
}

.header {
  width: 80%;
}

.summary {
  font-size: 1.5vw;
}

.filters {
  display: none;
}

body {
  background-color: black;
}

.message {
  color: white;
}

#logout {
  display: none;
}

.changepw {
  display: none;
}

.create-gym {
  display: none;
}

.modal-header {
    border-bottom: 0 none;
}

.jumbotron {
  background-color: black;
  color: white;
}

.fas, .user-button {
  display: none;
}

.navbar{
  background-color: black !important;
}

.card-subtitle {
  font-size: 0.95em;
}

.card-text {
  font-size: 1em;
}

.hours {
  color: #bab8b6;
}

.form {
  margin: 0 auto;
}

.linebreak {
  white-space: pre-wrap;
}
